<div class="row">
  <div class="col s8 offset-s2">
    {{# if error }}
    <p class="msg msg-error">{{ error }}</p>
    {{/ if  }}
    <h1>Set new password</h1>
    <form method="POST">
      <input type="hidden" name="_csrf" value="{{ csrf }}">
      <input type="hidden" name="userId" value="{{ userId }}">
      <input type="hidden" name="token" value="{{ token }}">
      <div class="input-field">
        <input name="password" id="password" type="password" class="validate" required>
        <label for="password">New password</label>
        <span class="helper-text" data-error="Please enter a password"></span>
      </div>

      <button type="submit" class="btn btn-primary">Continue</button>
    </form>
  </div>
</div>
